 .aside{
   width: 100%;
   padding: 60px 0;
   background-color:#95e1d3;
   .asi__nabr{
     font-size: 5rem;
     font-weight: 700;
     color: #fff;
     text-align: center;
   }
   .link__asid{
     display: block;
     text-align: center;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
    text-transform: uppercase;
    margin-top: -30px;
   }
 }